.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: $white;
    transition: all linear .4s;

    &.active {
        position: fixed;
        box-shadow: 5px 0 15px rgb(190, 190, 190);
    }

    .top-nav {
        background-color: $bgOne;

        p {
            padding: 5px 0;
            margin-bottom: 0;
            font-size: 16px;
            font-weight: 500;
            color: $white;

            a {
                color: $white;

                &:hover {
                    text-decoration: underline;
                    color: $hover-color;
                }
            }
        }
    }

    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;

        .mobile-icon {
            display: none;
            cursor: pointer;
        }

        .nav {
            ul {
                display: flex;

                li {
                    margin-left: 25px;

                    a {
                        color: $bColor;

                        &:hover {
                            color: $hover-color;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 991.98px) {
    .header {
        position: relative;

        .menu {
            .mobile-icon {
                display: block;
            }
        }

        .nav {
            position: fixed;
            top: 102px;
            right: 0;
            z-index: 99;
            box-shadow: 0 10px 10px transparent;
            min-width: 190px;
            height: calc(100vh - 102px);
            background-color: $white;
            transition: all .4s;
            transform: translateX(100%);

            &.active {
                transform: translateX(0);
                box-shadow: 0 10px 10px #bebebe;
            }

            ul {
                flex-direction: column;
                padding: 15px 20px;
                width: 100%;

                li {
                    margin-left: 0 !important;
                    text-align: right;
                    margin-bottom: 10px;

                    a {
                        display: block;
                    }
                }
            }
        }
    }
}